{% macro test(data) %}
 <style>
        table, th, td {
        border:1px solid black;
    }
    </style>


    <div class="row no-gutters" >
        <div class="col-md-4 col-sm-12"><p>{{ data['us cdu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['us fcu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['us coker'] }}</p></div>
    </div>

    <div class="row no-gutters" >
        <div class="col-md-4 col-sm-12"><p>{{ data['china cdu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['china fcu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['china coker'] }}</p></div>
    </div>

    <div class="row no-gutters" >
        <div class="col-md-4 col-sm-12"><p>{{ data['russia cdu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['russia fcu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['russia coker'] }}</p></div>
    </div>

    <div class="row no-gutters" >
        <div class="col-md-4 col-sm-12"><p>{{ data['india cdu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['india fcu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['india coker'] }}</p></div>
    </div>

    <div class="row no-gutters" >
        <div class="col-md-4 col-sm-12"><p>{{ data['japan cdu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['japan fcu'] }}</p></div>
        <div class="col-md-4 col-sm-12"><p>{{ data['japan coker'] }}</p></div>
    </div>

{% endmacro %}